.copy {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.copyText {
    line-height: 1.29;
    color: rgba(232, 232, 226, 0.9);
}

.copyList {
    display: flex;
    gap: 22px;
}

.copyItem {
    position: relative;
    line-height: 1.29;
    color: var(--gray);

    &:not(:last-child) {
        &::after {
            content: '/';
            position: absolute;
            right: -14px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
