.footerInfo {
    margin-bottom: 80px;
}

.footerTitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: var(--gray);
    margin-bottom: 14px;
}

.footerDescription {
    line-height: 1.29;
    color: rgba(232, 232, 226, 0.7);
}
