@import "styles/mixins";

.discountProductsItem {
    position: relative;
    background-color: var(--white-2);
    border-radius: 15px;
    cursor: pointer;
    padding: 16px;
}

.imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-color: var(--gray);
    border-radius: 10px;
    padding: 18px 0;
    margin-bottom: 16px;
}

.image {
    width: 114px;
    height: 114px;
}

.control {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productTitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.11;
}

.controlWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.productPrice {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.11;
}

.productButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    background-color: var(--green);
    border-radius: 50%;
    @include transition(background-color);

    &:is(:hover, :focus) {
        background-color: var(--dark-green);
    }
}

.productCartIcon {
    width: 18px;
    height: 18px;
    fill: var(--gray);
}

.productCheckIcon {
    width: 18px;
    height: 18px;
    fill: transparent;
    stroke: var(--gray);
}

.discountIcon {
    position: absolute;
    top: 3px;
    right: 10px;
    width: 60px;
    height: 60px;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}